<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044450205028-qlr0894pek1ubdrkl0bo4h8ponvrr04c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044450205028-qlr0894pek1ubdrkl0bo4h8ponvrr04c</string>
	<key>API_KEY</key>
	<string>AIzaSyC12ff-4eB3j8nUKJaM8wmoYnHTz35Td6U</string>
	<key>GCM_SENDER_ID</key>
	<string>1044450205028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopblocksFlutter</string>
	<key>PROJECT_ID</key>
	<string>supplyblocks</string>
	<key>STORAGE_BUCKET</key>
	<string>supplyblocks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044450205028:ios:5ac31856340d6bf0c06e71</string>
</dict>
</plist>